<div class="row" style="padding: .3%; background-color: #0d6efd; border-radius: 6px;">
  <div class="col-md-1">
    <strong> <a class="nav-link text-white" [routerLink]="['/createpatient']">Add Patient</a></strong>
  </div>

  <div class="col-md-10">
    @if (roles.includes('doctor') ||roles.includes('Doctor')) {
      <strong> <a class="nav-link text-white" [routerLink]="['/mypatient']">my Patients</a> </strong>
    }
  </div>

  <!-- <div class="col-md-9" >
    <strong> <a class="nav-link text-white" [routerLink]="['/Sitting']">Settings</a></strong>
  </div> -->

  <div class="col-md-1 d-flex justify-content-end"  >
     <button type="button" class="btn btn-danger" (click)="logOut()" >logOut</button>
  </div>
</div>