<div class="prescription-table border rounded overflow-hidden">

  <div class="row g-0" style="background-color: #0d6efd;">
    <div class="col-md-2 text-white fw-semibold p-2">code</div>
    <div class="col-md-4 text-white fw-semibold p-2">medicalExamination</div>
    <div class="col-md-2 text-white fw-semibold p-2">DoctorName</div>
    <div class="col-md-2 text-white fw-semibold p-2">Action</div>
    <!-- <div class="col-md-2 text-white fw-semibold p-2">Doctor Name</div> -->
    <!-- <div class="col-md-2 text-white fw-semibold p-2 text-center">Action</div> -->
  </div>

  @for (item of data(); track item.id ?? $index) {
    <div class="row g-0 table-row">
      <div class="col-md-2 p-2">{{ item.medicalExaminationsDTO.code}}</div>
      <div class="col-md-4 p-2">{{ item.medicalExaminationsDTO.nameEn }} - ({{item.medicalExaminationsDTO.classificationExaminationDTO1.categoryNameEn}}) </div>
      <div class="col-md-2 p-2">{{ item.doctorDTO.fristName }} - {{item.doctorDTO.lastName}} - ({{item.doctorDTO.specialization}})</div>
      <div class="col-md-2 p-2">view</div>
      <!-- <div class="col-md-2 p-2"></div> -->
      <!-- <div class="col-md-2 p-2 text-center">
        <a [routerLink]="['/Patientappointment', item.id]" class="btn btn-sm btn-outline-primary">View</a>
      </div> -->
    </div>
  } @empty {
    <div class="row g-0">
      <div class="col-md-12 text-center text-muted py-4">
        No prescriptions found.
      </div>
    </div>
  }

</div>