<app-navbar></app-navbar>

<div class="container my-4 background">
  <div class="card shadow-sm border-0 background">
    <div class="card-body p-4">
      <h5 class="card-title mb-4 text-secondary">
        <i class="bi bi-person-lines-fill me-2">User Information</i>
      </h5>
      
      <form>
        <div class="row g-3 ">
          <div class="col-md-4 ">
            <label class="form-label fw-semibold text-muted small">First Name</label>
            <input type="text" class="form-control" name="Fname" placeholder="John" [(ngModel)]="Fristname" >
          </div>
          <div class="col-md-4 ">
            <label class="form-label fw-semibold text-muted small">Last Name</label>
            <input type="text" class="form-control" name="Lname" placeholder="Doe" [(ngModel)]="LastName">
          </div>
          <div class="col-md-4 ">
            <label class="form-label fw-semibold text-muted small">Phone Number</label>
            <input type="tel" class="form-control" name="Phone" placeholder="+20..." [(ngModel)] = "Phone">
          </div>
          <div class="col-md-4 ">
            <label class="form-label fw-semibold text-muted small">Address</label>
            <input type="text" class="form-control" name="Address" placeholder="123 Main St" [(ngModel)]="Address">
          </div>
          <div class="col-md-4 ">
            <label class="form-label fw-semibold text-muted small">dateOfBirth</label>
            <input type="date" class="form-control" name="DateOfBirth" placeholder="1990-01-01" [(ngModel)]="DateOfBirth">
          </div>
        <div class="col-md-4">
          <label class="form-label fw-semibold text-muted small d-block">Gender</label>
          <div class="btn-group w-100" role="group">
          <div class="form-check form-check-inline">
            <label for="genderMale" >Male</label>
                <input 
                  type="radio" 
                  name="gender" 
                  id="genderMale" 
                  value="Male" 
                  class="ms-8"
                  [(ngModel)]="gender">
            </div>

                <div class="form-check form-check-inline">
                  <label for="genderFemale" >Female</label>
                      <input 
                        type="radio" 
                        name="gender" 
                        id="genderFemale" 
                        value="Female" 
                        class="ms-8"
                        [(ngModel)]="gender">
              </div>
          </div>
        </div>
        </div>
        <div class="row mt-4 ">
          <div class="col-12 d-flex justify-content-end">
            <button type="button" class="btn btn-primary px-4" [disabled]="isLoading()" (click)="onSubmit()">
              Save Changes
            </button>
          </div>
        </div>


      </form>

      </div>
        <div class="row" style="margin:.5%">
        <app-list-patient></app-list-patient>
        </div>
      </div>
</div>


