<div class="diagnosis-table border rounded overflow-hidden" style="padding: .5%; margin: .5%;" >

  <div class="row g-0 rounded" style="background-color: #0d6efd;">
    <div class="col-md-4 text-white fw-semibold p-2"> Name </div>
    <div class="col-md-4 text-white fw-semibold p-2"> Description </div>
    @if(!isInHistoryMood){
    <div class="col-md-4 text-white fw-semibold p-2"> Actions </div>
  }
  </div>

  @for (item of DiagnosDTO2(); track $index) 
  {
    <div class="row g-0 table-row">
      <div class="col-md-4 p-2">{{ item.diagnosMaster.name }}</div>
      <div class="col-md-4 p-2">{{ item.notes }}</div>
        @if(!isInHistoryMood)
        {
          <div class="col-md-4 p-2">
            <button class="btn btn-sm btn-outline-danger" (click)="DeleteDiagnos(item.id)"> Delete </button>
          </div>
        }
    </div>
  } 
  @empty
  {
    <div class="row g-0">
      <div class="col-md-12 text-center text-muted py-4">
        No diagnoses found.
      </div>
    </div>
  }
</div>