<form>
    <div class="row border-secondary" #questionContainer style="margin-right: .5%;">
        @for (item of data(); track $index)
        {
        <div class="col-md-11 mt-2 p-2 border border-secondary rounded" style="margin-left: 3%;">
            <h5>
                <samp>{{item?.questionBody}} </samp>
            </h5>

            <div style="margin-left: .8%;">
                @if(item?.dataTypeName == "Boolean")
                {
                <div class="row">
                    <div class="col-2 d-flex ">
                        <input type="radio" style="border: 1px solid rgb(46, 91, 219);" class="form-check-input"
                            name="{{item.id}}" id="{{item.id}}-true" value="true">
                        <label class="form-check-label" for="{{item.id}}-true" style="padding-left: 10px;">Yes</label>
                    </div>
                    <div class="col-2 d-flex">
                        <input type="radio" style="border: 1px solid rgb(46, 91, 219);" class="form-check-input"
                            name="{{item.id}}" id="{{item.id}}-false" value="false">
                        <label class="form-check-label" for="{{item.id}}-false" style="padding-left: 10px;">No</label>
                    </div>
                </div>
                }

                <label class="text-secondary">{{item?.description}}</label>

                @if(item?.dataTypeName == "Numeric")
                {
                <p>Min :<samp> {{item?.minValue}}</samp> , Max : <samp>{{item?.maxValue}}</samp> </p>
                <input type="number" class="form-control border  border-secondary rounded" name="{{item.id}}"
                    id="{{item.id}}" [min]="item?.minValue ?? null" [max]="item?.maxValue ?? null" />
                }
                @else if (item?.dataTypeName == "Text"){
                <input type="text" class="form-control border border-secondary rounded" id="{{item.id}}"
                    name="{{item.id}}">
                }

                @else if(item?.dataTypeName == "Dropdown")
                {
                <select class="form-select border border-secondary rounded" aria-label="Default select example"
                    id="{{item.id}}" name="{{item.id}}">
                    <option [value]=""></option>
                    @for (it of item?.listValues; track $index)
                    {
                    <option [value]="it">{{it}}</option>
                    }
                </select>

                }
            </div>
        </div>
        }
        @if(SheetID != '')
        {
        <div class="col-11 d-flex justify-content-end " style="margin-top: 2%;">
            <button type="button" class="btn btn-primary " (click)="SendAnswers()">
                Send Answer
            </button>
        </div>
        }
    </div>
</form>

<app-save-answer-question [SheetID]="SheetID" [AppointmentID]="AppointmentID" (messageSent)="onMessageReceived()"
    [isInHistoryMood]="false"></app-save-answer-question>