<div class="prescription-table border rounded overflow-hidden">

  <div class="row g-0" style="background-color: #0d6efd;">
        <div class="col-md-2 text-white fw-semibold p-2"> Name</div>
        <div class="col-md-2 text-white fw-semibold p-2"> phoneNumber</div>
        <div class="col-md-2 text-white fw-semibold p-2"> address </div>
        <div class="col-md-2 text-white fw-semibold p-2"> dateOfBirth </div>
        <div class="col-md-2 text-white fw-semibold p-2"> gender </div>
         <div class="col-md-2 text-white fw-semibold p-2"> Action </div>
   </div>

    @if(isloding())
    {
      @for (patient of PatientsData(); track $index) {
          <div class="row g-0 table-row">
              <div class="col-md-2 p-2">{{ patient.firstName }} - {{ patient.lastName }}</div>           
              <div class="col-md-2 p-2">{{ patient.phoneNumber }}</div>
              <div class="col-md-2 p-2">{{ patient.address }}</div>
              <div class="col-md-2 p-2">{{ patient.dateOfBirth | date }}</div>
              <div class="col-md-2 p-2">{{ patient.gender }}</div>
              <div class="col-md-2 p-2"><a [routerLink]="['/patient/getpatient', patient.id]">view</a>  
                <button class="btn btn-sm btn-outline-danger"> Delete 
              </button></div>
            
          </div>
          } 
          @empty
            {
           <div class="row g-0">
              <div class="col-md-12 text-center text-muted py-4">
              No patients found.
              </div>
            </div>
          }
    }


</div>