<app-navbar></app-navbar>

<div class="container-fluid px-4 py-3">
  <!-- Patient Header Section -->
  <div class="border-bottom pb-3 mb-4">
    <div class="row"  >
      <div class="col-md-10">
    <h2 class="h3 fw-bold text-primary mb-1">
      {{ appointment()?.patientFirstName }} {{ appointment()?.patientLastName }}
      <!-- <span class="badge ">{{ appointment()?.patientDTO_1?.gender }} </span> -->
    </h2>
    <p class="text-muted mb-0">
      <span class="me-3" ><strong>Gender: </strong> {{ appointment()?.patientDTO_1?.gender }}</span>
      <span class="me-3" ><strong>DOB:</strong> {{ appointment()?.patientDTO_1?.dateOfBirth | date: 'mediumDate'}}</span>
      <span><strong>Phone:</strong> {{ appointment()?.patientDTO_1?.phoneNumber }}</span>
      
    </p>
    </div>
    
    <div class="col-md-2">
      
    </div>
    
  </div>

  </div>

  <div class="row g-3">
    <!-- Left Action Column -->
    <div class="col-lg-2 col-xl-1">
      <button class="btn btn-primary shadow-sm" style="margin: 1%;" #prescriptionid name="prescription" (click)="viewpage(prescriptionid.name)" >
        prescription
      </button>
      <button class="btn btn-primary shadow-sm" style="margin: 1%;" #investgationid  name="investgation" (click)="viewpage(investgationid.name)" >
        investgation
      </button>
      <button class="btn btn-primary shadow-sm" style="margin: 1%;" #vitalsignsid  name="vitalsigns" (click)="viewpage(vitalsignsid.name)" >
        vitalsigns
      </button>
      <button class="btn btn-primary shadow-sm" style="margin: 1%;" #allergiesid name="allergies" (click)="viewpage(allergiesid.name)" >
        allergies
      </button>
         <input type="button" class="btn btn btn-secondary d-flex justify-content-end"  name="viewhistory" style="margin: 1%;" #viewhistory value="View History" (click)="viewpage(viewhistory.name)">
      
      <button class="btn btn-primary shadow-sm" style="margin: 1%;" #addnextvisit name="addnextvisit" (click)="viewpage(addnextvisit.name)" >
        nexrt visit
      </button>

      <button class="btn btn-danger shadow-sm" style="margin: 1%;" #colsevisit name="colseVisit" (click)="callMakeItComplete()"  >
        Colse visit
      </button>
   
    </div>


    <div class="col-lg-10 col-xl-11">
      @if( view() == 1 )
      {
        <app-make-prescription #makeprescription [AppointmentID]="appointmentId" ></app-make-prescription>
      }@else if ( view() == 2 )
      {
        <app-creat-investgation #creatinvestgation ></app-creat-investgation>
      }@else if( view() == 3 )
      {
        <app-creat-vital #creatvital ></app-creat-vital>
      }@else if ( view() == 5 ) 
      {
        <app-patient-story #patientstory [PatientID]="PatientId" ></app-patient-story>
      }@else if (view() == 6) {
        <app-ccreate-appintment [PatientId]="PatientId"></app-ccreate-appintment>
      }
    </div>
  </div>
</div>

